/* rules */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Urbanist', sans-serif;
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
.container{
    padding-left:15px;
    padding-right:15px;
    margin-left:auto;
    margin-right:auto;
}
:root{
    --color:crimson;
}
@media(max-width:768px)
{
   .special{
       margin-bottom:50px;
   }   
}
/* small */ 
@media (min-width:768px)
{
    .container{
        width:750px;
    }
}
/* meduim */ 
@media (min-width:992px)
{
    .container{
        width:970px;
    }
}
/* large */
@media (min-width:1200px)
{
    .container{
        width:1170px;
    }
}
/* start head */ 
.head{
background-color: rgb(0 ,0 ,0,.8); 
position: fixed; 
width:100%; 
z-index:3;
}
.head .container{
    display: flex;
    justify-content: space-between;
    padding-top:18px;
    padding-bottom:18px;
    position: relative;
}
.head ul{
    display:flex;
    flex:1;
    justify-content: end;
}
.head h2{
color:white;
text-transform:uppercase ;
font-size:19px;
}
.head span{
color:var(--color);  
}
.head li{
    margin-right:30px;
    text-transform: uppercase;
}
.head a{
    text-decoration: none;
    font-size:14px;
    color:white;
    font-weight: bold;
}
.head i{
    display:none;
}
.head li:hover a{
color:var(--color);
}
@media(max-width:768px)
{
.head ul{
    display: none;
    flex-direction: column;
    position: absolute;
    width: 100%;
    left: 0;
    top: 50px;
}
.head li{
    background-color: #000000b5;
    width: 100%;
    padding: 15px;
}
.head i{
    display:block;
    font-size: 20px;
    color: white;
}
.head i:hover +ul{
    display: flex;
} 
}
/*end head */
/* start home */
.home{
background-image: url(../images/hero-bg.png);
padding-top:60px;
padding-bottom:60px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
position: relative;
height: 100vh;
}
.home::before{
content: "";
position: absolute;
width:100%;
height:calc(100% - 57.6px);
top:57.6px;
left:0;
background-color: rgb(0 ,0 ,0,0.8);
}
.home .text{
    position: absolute;
    top:50%;
    left:20%;
    transform: translateY(-50%);
}
.home h1{
    font-size: 40px;
}
.home .hello{
color:white
}
.home .name{
color:var(--color);
margin-top:-18px;
}
.home button{ 
background-color: transparent; 
color:white; 
border:2px solid var(--color); 
padding:10px 30px; 
font-weight: bold; 
text-transform: uppercase; 
margin-bottom:20px; transition: .3s; -webkit-transition: .3s; -moz-transition: .3s; -ms-transition: .3s; -o-transition: .3s;
}
.home button:hover{
    background-color: var(--color);
}
/*end home */ 
/* start service */
.service{
    padding-top:60px;
    padding-bottom: 60px;
}
.service .name{
    text-align: center;
    margin-bottom: 60px;
}
.service h1{
font-weight: 300;
font-size: 40px;
text-transform: uppercase;
letter-spacing: 3px;
}
.service p{
font-size: 13px;
line-height: 1.6;
}
.service .content{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}
.service .box{
    background-image: url(../images/img-1.png);
    background-size: cover;
    position: relative;
    padding:20px;
    border-radius: 15px;
}
.service .box::before{ 
content: ""; 
position: absolute; 
top:0; 
left:0; 
height: 100%; 
width:100%; 
background-color: rgb(0 0 0 / 80%); 
border-radius: 15px; 
}
.service .box .icon{
position: relative;
margin-bottom:20px;
}
.service .box i{
    color: purple;
    background-color: #e6a304;
    border-radius: 50%;
    padding: 7px;
    font-size: 19px;
}
.service .text{
position: relative;
}
.service .box h3{
color:white;
text-transform: uppercase;
font-size: 16px;
font-weight: bold;
margin-bottom:10px;
}
.service .box p{
color:white;
font-size:11px;
line-height: 1.6;
}
.service .icon span{
    position: absolute;
    background-color: #e6a304;
    border-radius: 50%;
}
.service .one{
height: 5px;
width: 5px;
left:35px;
}
.service .two{
    height: 2px;
    width: 2px;
    top: 25px;
    left: 34px;
}
.service .three{
    height: 3px;
    width: 3px;
    top: 23px;
    left: 1px;
}
/* end service */
/* start project */ 
.project{
    padding-top:60px;
    padding-bottom: 60px;
}
.project .text{
    text-align: center;
    padding-bottom:20px;
}
.project .text h1{
    text-transform: uppercase;
    font-weight: 300;
}
.project .text span{
    color:var(--color);
}
.project .box{
    display: flex;
    justify-content: center;
}
.project .box .proj{
    background-image: linear-gradient(0deg,#29323c 0%,#485563 100%);
}
.project .proj {
color:white;
width:350px;
height: 250px;
padding:50px 20px;
}
.project .image{
    width:350px;
    height: 250px;
    position: relative;
    overflow: hidden;
}
.project .image img{
    width:350px;
    height: 250px;
    max-width: 100%;
    max-height: 100%;
    filter:grayscale(70%);
    transition: .5s;
}
.project .proj h1{
font-size: 24px;
margin-bottom:5px;
}
.project .proj h4{
font-size: 12px;
margin-bottom:5px;
} 
.project .proj p{
font-size: 10px;
line-height: 1.6;
}
.project .box:hover img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
@media(max-width:767px){
    .project .box .image{
        display:none;
    }
}
/* end project */ 
/* start about */
.about{
    padding-top: 60px;
    padding-bottom: 60px;
} 
.about .box{
    display:flex;
    justify-content: center;
}
.about .box .image{
    height: 200px;
    width:170px;
    margin-right:20px;
    position: relative;
}
.about .box .image img{
    width:100%;
    max-width: 100%;
    height: 200px;
    max-height: 100%;
}
.about .box .text{
    width:40%;
}
.about .text h2{
color: black;
text-transform: uppercase;
font-size: 40px;
font-weight: 300;
margin-bottom: 5px;
}
.about .text h2 span{
    color: var(--color);
}
.about .text h4{
font-size: 14px;
margin-bottom: 7px;
}
.about .text p{
font-size: 12px;
line-height: 1.3;
color:#777;
margin-bottom:25px;
}
.about .text button{ 
color:black; 
border:1px solid var(--color); 
text-transform: uppercase; 
padding:5px; 
font-weight: bold; 
font-size: 12px; 
background-color: transparent; 
transition:.3s ; -webkit-transition:.3s ; -moz-transition:.3s ; -ms-transition:.3s ; -o-transition:.3s ;
}
.about .text button:hover{
    background-color: var(--color);
    color:white;
}
.about .box .image::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border: 5px solid var(--color);
    top: 13px;
    left: -19px;
    z-index: -1;
}
@media (max-width:767px)
{
    .about{
        margin-top:20px;
    }
    .about .box{
        flex-direction: column;
        align-items: center;
    }
    .about .box .text{
        width:80%;
        margin-left: 40px;
    }
    .about .box .image{
        margin-bottom:40px;
    }
}
/* end about */
/* start contact */
.contact{
    padding-top:60px;
    padding-bottom: 60px;
}
.contact h2{
color: black;
text-transform: uppercase;
text-align: center;
font-size: 35px;
font-weight: 300;
margin-bottom: 5px;
}
.contact h2 span{
color:var(--color);
}
.contact .content{
    display: flex;
    justify-content: center;
}
.contact .content .box{
   display: flex;
   box-shadow: 0px 0px 18px 0 #0000002c;
   padding:30px 20px;
   width:250px;
   margin-right:15px;
   border-radius: 5px;
   transition: .3s;
}
.contact .box .icon{
position: relative;
}
.contact .icon i{
color:coral;
background-color: #ffecb3;
border-radius: 50%;
padding:7px;
}
.contact .text{
    margin-left: 15px;
}
.contact .text h3{
font-weight: 600;
font-size: 18px;
margin-bottom: 5px;
}
.contact .text p{
font-size: 10px;
margin-bottom: 3px;
font-weight: 600;
}
.contact .box:hover{
    box-shadow: 0px 0px 6px 0 #0000002c;   
}
@media(max-width:767px)
{
.contact .content{
    flex-direction: column;
    align-items: center;
}
.contact .box{
    margin-bottom: 15px;
}
.contact h2{
    margin-bottom: 5px;
}
}
/* end contact */ 
/* start foot */
.foot{
    margin-top:60px;
    text-align: center;
    background-color: rgb(0 ,0 ,0,.8);;
    padding-top:30px;
    padding-bottom:10px;
}
.foot h2{
color:white;
text-transform: uppercase;
font-weight: 600;
margin-bottom: 5px;
}
.foot h2 span{
color:var(--color);
}
.foot h4{
    color:white;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 10px;
}
.foot .icons{
    margin-bottom: 30px;
}
.foot i{
color: white;
background-color: #eee;
border-radius: 50%;
padding:5px;
background-color: var(--color);
margin-left:5px;
}
.foot p{
color:white;
font-size: 12px;
color:#777;
}
/* end foot */  